* {
  margin: 0px;
  font-family: "Lato";
}

.card-title {
  margin-top: 20px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

.card-img-2-3 {
  width: 73%;
}
.card-img-1 {
  margin-top: 20px;
  width: 85%;
}

.card-1-inner,
.card-2-inner,
.card-3-inner {
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
}

.services-title {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.services-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-input-name-email {
  padding: 16px 12px;

  border-radius: 2px;
  border: 1px solid #ced4da;
  background: #fff;
  margin-bottom: 18px;
  margin-right: 18px;
}

.date-class,
.option-class {
  padding: 16px 28px;

  border-radius: 2px;
  border: 1px solid #ced4da;
  background: #fff;
  margin-bottom: 15px;
  margin-right: 18px;
}

.header-container-class {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 0px 240px;
  background-color: rgba(229, 84, 115, 0.1);
  background-repeat: no-repeat;
}

.banner-img-container {
  margin-top: 50px;
}

.banner-img {
  width: 110%;
  display: flex;
  align-items: end;
}

.header-title {
  width: 508px;
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-top: 27px;
  margin-bottom: 22px;
}

.header-description {
  width: 534px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 22px;
}

.banner-btn {
  padding: 10px 33px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 0px;
}

.features-container {
  margin: 170px auto;
}

.features-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.features-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 48px;
}

/* card styles ============================== */

.feature-card-container {
  width: 86%;
  margin: 0px auto;
  display: flex;
  /* gap: 34px; */
  justify-content: space-evenly;
}

.card-1-inner {
  background: rgba(5, 151, 160, 0.15);
  width: 324px;
  height: 400px;
  align-items: center;
}

.card-2-inner {
  background: rgba(167, 33, 98, 0.15);
  width: 324px;
  height: 400px;

  align-items: end;
}

.card-3-inner {
  background: rgba(71, 125, 17, 0.15);
  width: 324px;
  height: 400px;

  align-items: end;
}

.service-container {
  margin: 170px auto;

  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 75%;
  padding: 56px 0px;
}

.services-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-deal-container {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-bottom: 150px;
  padding: 80px 385px 80px 370px;
}
.hot-deal-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.hot-deal-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.hot-deal-span {
  color: #e55473;
}

.hot-deal-image {
  width: 35%;
}

.hot-deal-btn {
  border: 0px;
  border-radius: 8px;
  background: #e55473;
  padding: 12px 29px;

  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.insta-card-container {
  width: 80%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.insta-img {
  width: 22%;
}

.latest-deal-container {
  margin: 130px auto;
  width: 75%;
  border-radius: 8px;
  background: url(../images/Rectangle\ 9.png),
    lightgray 0px -203.444px / 100% 213.755% no-repeat;
  background-repeat: no-repeat;
  padding: 80px 3px;
}

.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.latest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 48px;
}
.latest-deal-input-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.email-class {
  width: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 0px;
  border-radius: 8px;
  background: #fff;

  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.subscribe-class {
  padding: 12px 20px;
  width: 150px;
  border: 0px;
  border-radius: 8px;
  background: #e55473;

  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.footer-container {
  background: #111010;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-title {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
.footer-flower-class {
  color: #e55473;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
}

.copyright-class {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.extra-title-main {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;
}

.extra-section-container {
  margin: 0px auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.iframe-class {
  width: 570px;
  height: 450px;
}

.contact-us-container {
  width: 470px;
  height: 350px;
  padding: 50px 45px;
  background-color: rgba(229, 84, 115, 0.1);
  background-repeat: no-repeat;
}
.contact-title {
  margin-bottom: 25px;
}

.conatact-us-marketplace {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 8px;
}

.text-area {
  margin-bottom: 15px;
}

.buy-now {
  padding: 17px 145px;
  border: 0px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #e55473;
}
